$peach-yellow: #F7E3AF;
$lemon-meingue: #F3EEC3;
$light-salmon-pink: #F7AF9D;
$pastel-blue: #B0D0D3;
$lavender: #C08497; 

html, body {
	background-color: $peach-yellow;
	margin: 0 auto;
	text-align: center;
}
